
@{
    Layout = null;
}
@model ZensarProject.Models.Registration
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Index</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#slideshow > div:gt(0)").hide();
            setInterval(function () {
                $('#SlideshowImages > div:first').fadeOut(3000).next().fadeIn(3000).end().appendTo('#SlideshowImages');
            }, 3000);
        });
        function disp() {
            $("#cont2").show();
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Dropdown.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm("Admin_Login", "HomePage",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            <nav id="nav1" class="nav">

                <div class="row navbar-right navk">
                    <div class="col-lg-12">
                        @Html.ActionLink("Home", "Index")
                        @Html.ActionLink("About Us", "Index")
                        @Html.ActionLink("Contact Us", "Index")
                        @Html.ActionLink("FAQs", "Index")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <h2 id="tit">
                            <b>ShoppingBag</b><span class="glyphicon glyphicon-home"></span>
                        </h2>
                    </div>
                    <div class="col-lg-8" id="searchp">
                        <i><input type="text" placeholder="Search for product and items" id="search" /></i>
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <div class="col-lg-1">
                        <snap id="bt1" class="glyphicon glyphicon-user" onclick="disp()"></snap>@Html.ActionLink("User", "LogIn", routeValues: 0, htmlAttributes: null)

                    </div>
                </div>

            </nav>
            <div class="row ">
                <div class="col-lg-12 navk">
                    @Html.ActionLink("Home Appliance", "Index")<span class="glyphicon glyphicon-down"></span>
                    @Html.ActionLink("Mobile", "Index")<span class="glyphicon glyphicon-down"></span>
                    @Html.ActionLink("Furniture", "Index")<span class="glyphicon glyphicon-down"></span>
                    @Html.ActionLink("Electronics", "Index")<span class="glyphicon glyphicon-down"></span>
                    @Html.ActionLink("Mens Wear", "Index")<span class="glyphicon glyphicon-down"></span>
                    @Html.ActionLink("Womans Wear", "Index")<span class="glyphicon glyphicon-down"></span>
                </div>
            </div>
            <div class="row log">
                <div class="col-lg-6">
                    <div class="imgcontainer">
                    </div>

                    <div class="container">
                        <label><b>Username</b></label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        <label><b>Password</b></label>
                        @Html.PasswordFor(model=>model.Password, new { htmlAttributes = new { @class = "form-control" } })
                         <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" /> Remember me
                        </label>
                    </div>
                    <div class="container" style="background-color:black">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">@Html.ActionLink("Forgot password", "")</span>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
